@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shadows Into Light", cursive;
}

img {
  width: 100%;
}

.wrapper {
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
}

.logo {
  width: 200px;
  margin: 0 auto 30px;
}

.banner {
  width: 100%;
}

.tokenomics {
  max-width: 1320px;
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.tokenomics .title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff7ae;
}
.tokenomics .desc {
  font-size: 40px;
  margin-bottom: 30px;
  color: #fff7ae;
}
.tokenomics .list {
  padding: 0;
  margin-left: 0;
}
.tokenomics .list .item {
  font-size: 40px;
  margin-bottom: 10px;
  color: #fff7ae;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social .icon {
  max-width: 100px;
  width: 100%;
}